body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #5a5b88;
  position: relative;
}
h1, h2, h3 {
  font-weight: 100;
}
p {
  margin: 0;
}
.paracoords {
  width: 960px;
}
.paracoords h1 {
  margin: 0 51px 0 20px;
  opacity: 0.6;
  text-transform: uppercase;
  font-size: 1.7em;
  letter-spacing: 0.1em;
  text-align: right;
}

p.team_name {
  font-size: 30px;
  width: 500px;
  font-weight: 100;
  /*text-transform: uppercase;*/
  /*letter-spacing: 0.1em;*/
}

p.team_conf {
  font-weight: 100;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
div.team_details {
  /*float: left;*/
  /*height: 150px;*/
  width: 670px;
  position: relative;
  left: 50px;
  /*border: 1px solid #5a5b88;*/
  /*background-color: ghostwhite;*/
}
div.team {
  width: 800px;
  height: 150px;
  /*margin-left: 50px;*/
  position: absolute;
}
div.game_details {
  position: absolute;
  left: 680px;
  top: 0px;
  background-color: ghostwhite;
  height: 150px;
  width: 180px;
}

/*.games_bar_chart {*/
  /*height: 80px;*/
  /*width: 670px;*/
  /*background-color: gold;*/
  
/*}*/

.bar.positive {
  fill: #4682b4;
}

.bar.negative {
  fill: #a6451d;
}

table#season_totals {
  position: absolute;
  left: -9px;
  top: 150px;
  /*margin-left: 42px;*/
  line-height: 20px;
  cursor: pointer;
  border-collapse: collapse;
  background-color: transparent;
  /*width: 580px;*/
}

table#season_totals tbody, table#season_totals thead {
  display: block;
}

table#season_totals thead {
  width: 670px;
}
table#season_totals tbody {
  overflow: auto;
  max-height: 300px;
  width: 670px;
}

table#season_totals thead tr {
  border-bottom: 2px solid #ccc;
}

table#season_totals tr {
  vertical-align: top;
  border-bottom: 1px solid #ccc;
}

table#season_totals thead tr th:first-child {
  text-align: left;
  width: 180px;
  padding-left: 10px;
}

table#season_totals thead tr th {
  text-align: left;
}

table#season_totals tbody tr td:first-child {
  width: 180px;
  text-align: left;
  padding-left: 10px;
}

table#season_totals th, table#season_totals td {
  width: 40px;
  text-align: left;
}

table#season_totals {
  padding: 3px;
}

tr.opened {
  /*height: 100px;*/
}

tr.highlighted {
  /*background-color: #9c9bdf;*/
  background-color: ghostwhite;
}

.background path {
  fill: none;
  stroke: #ccc;
  stroke-opacity: 0.4;
  shape-rendering: crispEdges;
}

.foreground path {
  fill: none;
  stroke: darkorange;
  stroke-opacity: 1.0;
}

.brush .extent {
  fill-opacity: 0.3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.axis line, .axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font-size: 9px;
  text-shadow: 0 1px 0 #fff;
  cursor: move;
}

.axis text.dimension {
  font-weight: bold;
}

.axis > text {
  font-weight: 500;
  font-size: 11px;
  fill: #555;
}

.tooltip {
  
}

th.asc {
  cursor: n-resize;
}

th.desc {
  cursor: s-resize;
}

.dimmed {
  pointer-events: none;
  opacity: 0.4;
}
