body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
}

table#season_totals {
  margin-left: 20px;
  cursor: pointer;
  border-collapse: collapse;
}

table#season_totals tr {
  vertical-align: top;
}

table#season_totals thead tr th:first-child {
  width: 180px;
}

table#season_totals thead tr th {
  width: 40px;
}

table#season_totals td {
  padding: 3px;
}
tr.opened {
  height: 100px;
}

tr.highlighted {
  background-color: #90b8da;
}

.background path {
  fill: none;
  stroke: #ccc;
  stroke-opacity: 0.4;
  shape-rendering: crispEdges;
}

.foreground path {
  fill: none;
  stroke: darkorange;
  stroke-opacity: 1.0;
}

.brush .extent {
  fill-opacity: 0.3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.selected {
  stroke-width: 5;
  stroke: cadetblue;
}

.axis line, .axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font-size: 9px;
  text-shadow: 0 1px 0 #fff;
  cursor: move;
}

.axis text.dimension {
  font-weight: bold;
}

.tooltip {
  
}
