body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #5a5b88;
}

div.table_container {
  /*overflow: auto;*/
  /*width: 700px;*/
  /*height: 200px;*/
}

table#season_totals {
  margin-left: 20px;
  line-height: 16px;
  cursor: pointer;
  border-collapse: collapse;
  /*width: 580px;*/
}

table#season_totals tbody, table#season_totals thead {
  display: block;
}

table#season_totals thead {
  width: 700px;
}
table#season_totals tbody {
  overflow: auto;
  height: 300px;
  width: 660px;
}

table#season_totals tr {
  vertical-align: top;
}

table#season_totals thead tr th:first-child {
  text-align: left;
  width: 180px;
}

table#season_totals thead tr th {
  text-align: left;
}

table#season_totals tbody tr td:first-child {
  width: 180px;
  text-align: left;
}

table#season_totals th, table#season_totals td {
  width: 40px;
  text-align: left;
}

table#season_totals {
  padding: 3px;
}

tr.opened {
  height: 100px;
}

tr.highlighted {
  /*background-color: #9c9bdf;*/
  background-color: ghostwhite;
}

.background path {
  fill: none;
  stroke: #ccc;
  stroke-opacity: 0.4;
  shape-rendering: crispEdges;
}

.foreground path {
  fill: none;
  stroke: darkorange;
  stroke-opacity: 1.0;
}

.brush .extent {
  fill-opacity: 0.3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.axis line, .axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font-size: 9px;
  text-shadow: 0 1px 0 #fff;
  cursor: move;
}

.axis text.dimension {
  font-weight: bold;
}

.tooltip {
  
}
